<div class="pin pin-small pin-<%= plan.situation_analysis %> <%= plan.country.iso3 %>">
  <div class="pin-tip"></div>
  <div class="pin-body"></div>
  <div class="tooltip-content tooltip-<%= plan.situation_analysis %> gone">
    <div class="operation ui-extra-small-header ui-white">
      <%= plan.operation_name %>
    </div>
    <a href="/#<%= plan.id %>/ppgs" class="rollover ppgs count ui-line-item-theme">
      PPG (<%= plan.ppgs_count %>)
    </a>
    <a href="/#<%= plan.id %>/goals" class="rollover goals count ui-line-item-theme">
      Goals (<%= plan.goals_count %>)
    </a>
    <a href="/#<%= plan.id %>/problem_objectives" class="rollover outputs problem_objectives count ui-line-item-theme">
      Objectives/Outputs (<%= plan.outputs_count + plan.problem_objectives_count %>)
    </a>
    <a href="/#<%= plan.id %>/indicators" class="rollover indicators count last ui-line-item-theme">
      Indicators (<%= plan.indicators_count %>)
    </a>
    <div class="tooltip-content-bottom"></div>
    <div class="tooltip-close"></div>
  </div>
</div>
