<div class="navigation-container">

  <div class="header"></div>
  <div class="save-filters"></div>

  <div class="ui-accordion-container">
  <% for (var p = 0; p < parameters.length; p++) { %>
    <div class="ui-accordion">
      <div data-type="<%= parameters[p].type %>" class="name open ui-extra-small-header ui-line-item-theme"><%= parameters[p].name.toUpperCase() %></div>
      <div data-type="<%= parameters[p].type %>" class="ui-accordion-content <%= parameters[p].type %>">
        <% for (var i = 0; i < parameters[p].data.length; i ++) { %>
        <div class="visio-check visio-check-yellow ui-line-item-theme">
          <input value="<%= parameters[p].type + '__' + parameters[p].data[i].id %>" <% if (strategy.include(parameters[p].type, parameters[p].data[i].id)) { %>checked="checked"<% } %> type="checkbox" id="check_<%= parameters[p].data[i].id %>"/>

          <% name = parameters[p].type === Visio.Parameters.PLANS ? parameters[p].data[i].operation_name : (parameters[p].data[i].name || parameters[p].data[i].objective_name) %>
          <label for="check_<%= parameters[p].data[i].id %>"><%= name %></label>
        </div>
        <% } %>
      </div>
    </div>
  <% } %>
  </div>
</div>
