<div class="bubble-info-container">
  <div class="row bubble-info gone"></div>
  <div class="row">
    <div class="col-md-10 center-text col-centered ui-primary-light ui-medium-header">Achievement vs. Expenditure/Budget</div>
  </div>
  <div class="row">
    <div class="col-md-8 center-text col-centered">
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-centered">
      <div class="col-md-12">
        <div id="bubble"></div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-centered">
      <div class="col-md-1 scenario">
        <% _.each(Visio.Scenarios, function(scenario) { %>
        <div class="visio-check visio-check-yellow">
          <input checked="checked" id="check-<%= scenario %>" type="checkbox" value="<%= scenario %>" />
          <label for="check-<%= scenario %>"><%= scenario %></label>
        </div>
        <% }) %>
      </div>
      <div class="col-md-2 budget">
        <% _.each(Visio.Budgets, function(budget) { %>
        <div class="visio-check visio-check-yellow">
          <input checked="checked" id="check-<%= budget %>" type="checkbox" value="<%= budget %>" />
          <label for="check-<%= budget %>"><%= budget %></label>
        </div>
        <% }) %>
      </div>
  </div>
</div>
