<div class="bubble-info-container">
  <div class="row bubble-info gone"></div>
  <div class="row">
    <div class="col-md-8 col-centered ui-primary-light">
      Indicator Results Per Single Year
    </div>
  </div>
  <div class="row">
    <div class="zero-padding col-md-8 col-centered ui-primary-soft ui-small-header">Achievement vs. Expenditure/Budget</div>
  </div>
  <div class="row">
    <div class="col-md-8 col-centered">
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-centered">
    <figure id="bubble"></figure>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-centered zero-padding">
    <div class="col-md-2">
      <label>Target</label>
      <% var isChecked = Visio.manager.get('achievement_type') == Visio.AchievementTypes.TARGET %>
      <input type="checkbox" class="achievement-type-toggle" checked="<%= isChecked %>">
    </div>
    <div class="col-md-2 scenario">
      <% _.each(Visio.Scenarios, function(scenario) { %>
      <div class="visio-check visio-check-yellow">
        <% shortName = scenario == Visio.Scenarios.AOL ? 'AOL' : 'OL' %>
        <input checked="checked" id="check-<%= shortName %>" type="checkbox" value="<%= scenario %>" />
        <label for="check-<%= shortName %>"><%= shortName %></label>
      </div>
      <% }) %>
    </div>
    <div class="col-md-3 budget">
      <% _.each(_.values(Visio.Budgets), function(budget, i, values) { %>
      <% if (i % 2 === 0) { %>
        <div class="col-md-<%= 12 / (values.length / 2) %> zero-padding">
      <% } %>
          <div class="visio-check visio-check-yellow">
            <input checked="checked" id="check-<%= budget %>" type="checkbox" value="<%= budget %>" />
            <label for="check-<%= budget %>"><%= budget %></label>
          </div>
      <% if (i % 2 == 1) { %>
        </div>
      <% } %>
      <% }) %>
    </div>
  </div>
</div>
