<figure class="spark-bar-graph pull-right"></figure>
<div class="row">
  <div class="col-md-8 col-centered">
    <div class="row js-parameter">
      <% situationAnalysis = parameter.selectedSituationAnalysis(); %>
      <div class="col-md-2">
        <div class="pin pin-medium pin-<%= situationAnalysis.category %>">
          <div class="pin-tip"></div>
          <div class="pin-body"></div>
        </div>
      </div>
      <div class="col-md-8 ui-medium-header">
        <%= parameter.toString() %>
      </div>
    </div>
    <div class="row data-container">
      <div class="col-md-9 tabs">
        <% _.each(_.values(Visio.ProgressTypes), function(type) { %>
        <div class="col-md-3">
          <div class="ui-tab-radio">
            <input id="progress-<%= type + '-' + parameter.id %>" name="<%= parameter.id %>" type="radio" value="<%= type %>" />
            <label for="progress-<%= type + '-' + parameter.id %>"><%= Visio.Utils.progressTypeToName(type) %></label>
          </div>
        </div>
        <% }) %>
      </div>
      <figure class='indicator-bar-graph'></figure>
    </div>
  </div>
</div>
<aside class="container full-width ui-primary-soft-theme data-container">
  <div class="row">
    <div class="col-md-8 col-centered">
      <div data-prefix="Ppg" class="row js-ppg-container"></div>
      <div data-prefix="Goal" class="row js-goal-container"></div>
      <div class="row divider"></div>
      <div class="row">Indicator</div>
      <div class="row js-indicator-container"></div>
    </div>
  </div>
</aside>
