<div class="row">
  <div class="col-md-2 target-countries">
    <div>Target Countries</div>
    <div>All</div>
    <% for (var i = 0; i < targetPlans.length; i++) { %>
    <div class="ui-blank-radio">
      <label for="radio-<%= targetPlans[i].id %>"><%= targetPlans[i].operation_name %></label>
      <input name="plan" type="radio" id="radio-<%= targetPlans[i].id %>" value="<%= targetPlans[i].id %>" />
    </div>
    <% } %>
  </div>
  <div class="col-md-4">
    <div class="meter">
      <span style="width: 95%"></span>
    </div>
  </div>

  <div class="col-md-3">
    They use no images, just CSS3 fancies. Like a good little designer always does, they fall back to totally
    acceptable experience. Here's what they look like in Opera 11 which supports some of the CSS3 used here
    but not all.
  </div>
  <div class="col-md-3">
    <div class="<%= Visio.Algorithms.ALGO_RESULTS.success %>">0</div>
    <div class="<%= Visio.Algorithms.ALGO_RESULTS.ok %>">0</div>
    <div class="<%= Visio.Algorithms.ALGO_RESULTS.fail %>">0</div>
    <div class="missing">0</div>
  </div>
</div>
