<div class="row strategy-snapshot">
  <div class="col-md-8 col-centered">
    <div class="col-md-3">
      <div class="target-countries">
        <div class="ui-blank-radio">
          <input checked="checked" name="plan" type="radio" id="radio-all" value="all" />
          <label for="radio-all">All</label>
        </div>
        <% for (var i = 0; i < targetPlans.length; i++) { %>
        <div class="ui-blank-radio">
          <input name="plan" type="radio" id="radio-<%= targetPlans[i].id %>" value="<%= targetPlans[i].id %>" />
          <label for="radio-<%= targetPlans[i].id %>"><%= targetPlans[i].operation_name %></label>
        </div>
        <% } %>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-4">
          <div class="ui-big-number total-indicators center-text">
            0
          </div>
          <div class="center-text">Total No. of Indicators for <span class="ui-primary-light">All&nbsp;Target&nbsp;Countries</span>
          </div>
        </div>
        <div class="col-md-7 zero-padding">
          <% for (var i = 0; i < resultTypes.length; i++) { %>
            <div class="<%= resultTypes[i] %>-circle circle col-md-3 zero-padding"></div>
          <% } %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="ui-big-number expenditure center-text">
            <span>95</span>%
          </div>
          <div class="meter">
            <span style="width: 95%"></span>
          </div>
          <div class="center-text">
            <div class="row">Total Spent for</div>
            <div class="ui-bright-yellow row">All Target Countries</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ui-big-number center-text budget">
            $<span>200M</span>
          </div>
          <div class="center-text">
            <div class="row">Total Budget for</div>
            <div class="row ui-bright-yellow">All Target Countries</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

