.admin-configuration
  %h1
    Admin Panel

  .row
    .col-md-8
      .divider-stack
  .row
    .col-md-8
      %h3
        Default Configuration
  - @configuration.as_json.each do |key, value|
    .row
      .col-md-8
        %b
          = key
        %span
          = ": #{value}"

  .row
    .col-md-3
      %button.btn.full-width
        %a.block{ :href => '/admin_configuration/edit' } Edit Configuration

  .row
    .col-md-8
      .divider-stack

  .row
    .col-md-8
      %h3
        Triggers

  .row
    .col-md-3
      %button.btn.full-width
        %a.block{ :href => '/create_guest_user' } Create Guest User

  .row
    .col-md-3
      %button.btn.full-width
        .manage-admin Manage admin users

  .row
    .col-md-3
      %button.btn.full-width
        .globalize Globalize Strategies

  .row
    .col-md-8
      .divider-stack

  .row
    .col-md-8
      %h3
        Status

  .row
    .col-md-3
      %button.btn.full-width
        %a.block{ :href => '/healthz' } Health Status
  .row
    .col-md-8
      .divider-stack

:javascript
  var adminUsers = new Visio.Collections.User(#{@configuration.admin_users.to_json.html_safe})
  var strategies = new Visio.Collections.Strategy(#{Strategy.all.to_json.html_safe})

  $('.manage-admin').on('click', function() {
    $('body').append((new Visio.Views.AdminUsers({ collection: adminUsers })).$el)
  });

  $('.globalize').on('click', function() {
    $('body').append((new Visio.Views.GlobalizeStrategies({ collection: strategies })).$el)
  });
