.inner-content
  #module

:javascript
  $(document).ready(function() {
    var ready = function() {
      Visio.router = new Visio.Routers.OperationRouter()

      Backbone.history.start();
    }

    Visio.manager = new Visio.Models.Manager({
      dashboard: new Visio.Models.Operation(#{@dashboard.to_json(@options).html_safe}),
      aggregation_type: Visio.Parameters.PPGS.plural,
      operations: new Visio.Collections.Operation([#{@dashboard.to_json(@options).html_safe}]),
      strategies: new Visio.Collections.Strategy(#{@strategies.to_json.html_safe}),
      personal_strategies: new Visio.Collections.Strategy(#{@personal_strategies.to_json.html_safe}),
      shared_strategies: new Visio.Collections.Strategy(#{@shared_strategies.to_json.html_safe}),
      ready: ready
    });

  });
