!!!
%html
  %head
    %title Visio
    = stylesheet_link_tag    "application", :media => "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body.ui-primary-theme
    :javascript
      window.Visio.user = new Visio.Models.User(#{current_user.to_json.html_safe})
    = yield
