!!!
%html
  %head
    %title Axis
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{ 'http-equiv' => "X-UA-Compatable", :content => 'IE=Edge' }
  %body{ :class => "#{controller.action_name} layout-application" }

    :javascript

      $(document).ajaxError(function(event, jqxhr, settings, exception) {
          new Visio.Views.Error({
            title: "Error getting page " + settings.url
          });
      });
      window.Visio.user = new Visio.Models.User(#{current_user.to_json.html_safe})
    = yield
