!!!
%html
  %head
    %title Visio
    = stylesheet_link_tag    "cms", :media => "all"
    = javascript_include_tag "cms"
    = csrf_meta_tags
  %body{ :class => "#{controller.action_name} layout-#{controller.send(:_layout).virtual_path.name}" }

    :javascript
      window.Visio.user = new Visio.Models.User(#{current_user.to_json.html_safe})
    = yield
