!!!
%html
  %head
    %title Visio
    %meta{ :charset => "utf-8" }
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
%body.ui-invert-theme{ :class => "#{controller.action_name} layout-#{controller.send(:_layout).virtual_path.name}" }
  #navigation.gone
  .page
    %header.container.full-width
      %section.row
        .col-md-11.col-centered.center-text.zero-padding
          .col-md-4.extra-padding
            .small-item.ui-primary.pull-left
              Ça va,
              %span.ui-primary-light
                = current_user.firstname
            .account-menu.pull-left
              .small-item.ui-primary.pull-right
                = link_to "Sign out", destroy_user_session_path, :method => :delete, :class => 'ui-primary'
          .col-md-4.center-text
            .ui-medium-header.logo.zero-padding
              <span class="light">UNHCR</span><span class="bold">NOVA</span>
          .col-md-4.extra-padding
            .col-md-2.pull-right.zero-padding
              %a.search-icon.pull-right{ :href => '#search' }
            .col-md-2.pull-right.zero-padding
              .menu-btn.pull-right.ui-primary-light
                .menu-icon.menu-right
                  .menu-row
                  .menu-row
                  .menu-row
      %aside.container.full-width.toolbar.gone
    #global-search.zero-max-height
    :javascript
      window.Visio.user = new Visio.Models.User(#{current_user.to_json.html_safe})
      $(document).ready(function() {
        $('.menu-icon').click(function(e) {
          Visio.router.navigate('/menu', { trigger: true })
        })

        $(document).ajaxStart(function() {
          NProgress.start()
        });
        $(document).ajaxStop(function() {
          NProgress.done()
        });


      })
    .content
      = yield


