<!DOCTYPE html>
<html>
<head>
  <title>Visio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="ui-invert-theme">
  <script>
    window.Visio.user = new Visio.Models.User(<%= current_user.to_json.html_safe %>)
    window.Visio.db = new ydn.db.Storage(Visio.Constants.DB_NAME);
  </script>
<%= yield %>

</body>
</html>

