!!!
%html
  %head
    %title Axis
    %meta{ :charset => "utf-8" }
    = stylesheet_link_tag    "application", :media => "all"
    = favicon_link_tag "/favicon.ico"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body.ui-invert-theme{ :class => "#{controller.action_name} layout-index" }
    .page.container-fluid

      :javascript
        window.Visio.user = new Visio.Models.User(#{current_user.to_json.html_safe})
        window.Visio.env = "#{Rails.env}"
        window.Visio.configuration = #{@configuration.to_json.html_safe}
      .content
        %header.minimal
          .logo
          %span Visualize. Analyze. Monitor
          .user-account.dashboard-item.pull-right
        .divider.divider-full.divider-dark-gray.zero-padding
        = yield
