!!!
%html
  %head
    %title Visio
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
%body.ui-invert-theme
  %header.container.full-width
    .account-menu
      .small-item.ui-primary.pull-right
        = link_to "Sign out", destroy_user_session_path, :method => :delete, :class => 'ui-primary'
      .small-item.ui-primary.pull-right
        Ça va,
        %span.ui-secondary
          = current_user.firstname
    .row
      .col-md-4.col-md-offset-3
        .ui-medium-header.logo
          <span class="bold">VISIO</span><span class="light">UNHCR</span>
    .row.menu
      .search.menu-item.ui-primary.pull-right
        Search by Operation or Indicator
      - @strategies.each do |strategy|
        %a.thematic-item.menu-item.ui-primary-light.pull-right{ :href => "/overview?strategy_id=#{strategy["id"]}" }
          .underline
            = strategy["name"]
          .theme-content
            = strategy["name"]
  :javascript
    window.Visio.user = new Visio.Models.User(#{current_user.to_json.html_safe})

  = yield

