!!!
%html
  %head
    %title Visio
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
%body.ui-invert-theme
  %header.container
    .row
      .col-md-12.col-centered.center-text.zero-height
        .col-md-4.extra-padding
          %span.menu.pull-left.ui-primary-light
            .menu-icon
              .menu-row
              .menu-row
              .menu-row
        .col-md-4.center-text
          %span.ui-small-header.logo
            <span class="light">UNHCR</span><span class="bold">VISIO</span>
        .col-md-4.extra-padding
          %span.account-menu.pull-right
            .small-item.ui-primary.pull-right
              = link_to "Sign out", destroy_user_session_path, :method => :delete, :class => 'ui-primary'
          .small-item.ui-primary.pull-right
            Ça va,
            %span.ui-primary-light
              = current_user.firstname
    .row
      - @strategies.each do |strategy|
        %a.thematic-item.menu-item.ui-primary-light.pull-right{ :href => "/overview?strategy_id=#{strategy["id"]}" }
          .underline
            = strategy["name"]
          .theme-content
            = strategy["name"]
  :javascript
    window.Visio.user = new Visio.Models.User(#{current_user.to_json.html_safe})

  = yield

